* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(63,94,251);
    background: linear-gradient(45deg, rgba(63,94,251,1) 15%, rgba(70,171,203,1) 30%, rgba(177,87,162,1) 45%, rgba(173,117,163,0.896796218487395) 60%, rgba(195,101,109,1) 75%, rgba(226,37,75,1) 100%);
    background-size: 300% 300%;
    animation: color 8s ease infinite;
}
.main {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 3.5rem;
    margin-left: 35%;
    border-radius: 20px;
    width: 390px;
    height: 550px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1{
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}

button {
    padding: 2rem;
    border-radius: 40px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 0.8rem;
}
button:hover{
    background-color: rgb(238, 174, 202);
    color: aliceblue;
    transform: rotate(360deg);
    scale: 1.2;
    font-size: 1rem;
}

.content {
    margin-left: 1.5rem;
}

input {
    margin-bottom: 1rem;
    margin-left: 8px;
    margin-top: 8px;
    width: 370px;
    height: 100px;
    border: none;
    outline: none;
    color: rgb(238, 174, 202);
    font-size: 50px;
    border-radius: 20px;
}
